.new-post {
    display:flex;
    flex-direction:column;
}

.new-post-topic {
    margin-left: 60px;
    margin-top: 30px;
    max-width: 30%;
    padding-left: 10px;
}

.new-post-panel {
    border: solid blue;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
}

.new-post-title {
    margin-bottom: 15px;
}
.new-post-title-field {
    width: 55%;
}

.new-post-body-field {
    width:85%;
    height: 225px;

}

.new-post-btn {
    margin: 10px 50px;
    max-width: 30%;
}